<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.rational.clearcase"
   name="%RC0"
   version="7.0.0.20061206A"
   provider-name="%RSC"
   class="com.rational.clearcase.ClearCasePlugin">

   <runtime>
      <library name="rationalcc.jar">
         <export name="*"/>
      </library>
      <library name="CCImport.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui.ide" version="3.0.0" match="compatible"/>
      <import plugin="org.eclipse.ui.views" version="3.0.0" match="compatible"/>
      <import plugin="org.eclipse.ui" version="3.0.0" match="compatible"/>
      <import plugin="org.eclipse.core.resources" version="3.0.0" match="compatible"/>
      <import plugin="org.eclipse.team.core" version="3.0.0" match="compatible"/>
      <import plugin="org.eclipse.team.ui" version="3.0.0" match="compatible"/>
      <import plugin="org.eclipse.jface.text" version="3.0.0" match="compatible"/>
      <import plugin="org.eclipse.core.runtime" version="3.0.0" match="compatible"/>
      <!-- import plugin="org.eclipse.core.runtime.compatibility"/ -->
      <import plugin="com.ibm.rational.clearcase.ccimport" version="7.0.0" match="greaterOrEqual"/>
      <!-- import plugin="com.ibm.rational.clearcase.ccrefresh"/ -->
   </requires>


   <extension-point id="featureStatus" name="%CFS"/>
   <extension-point id="editorFeatures" name="%CEF"/>

<!-- ================================================================================= -->
<!--                                                                                   -->
<!-- ClearCase: Preferences Page                                                       -->
<!--                                                                                   -->
<!-- ================================================================================= -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%RC"
            category="org.eclipse.team.ui.TeamPreferences"
            class="com.rational.resourcemanagement.cmui.CMPreferencesGeneral"
            id="ClearCasePreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%RCDM"
            category="ClearCasePreferencePage"
            class="com.rational.resourcemanagement.cmui.CMPreferencesGeneralPage2"
            id="com.rational.clearcase.ClearCasePreferencePage2">
      </page>
   </extension>
<!-- ************************************************
	 CONFIGURATION WIZARD
	 ************************************************ -->
   <extension
         point="org.eclipse.team.ui.configurationWizards">
      <wizard
            name="%ccwizard.name"
            icon="icons/etool16/cc_prod.gif"
            class="com.rational.clearcase.team.ui.clearcase.ConfigurationWizard"
            id="com.rational.clearcase.team.ui.clearcase.ConfigurationWizard">
      </wizard>
   </extension>
<!-- ************************************************
	 DECORATORS
	 ************************************************ -->
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            label="%RC"
            class="com.rational.resourcemanagement.cmui.CMImageProvider"
            state="true"
            id="com.rational.resourcemanagement.cmui.decorator">
         <enablement>
                     <objectClass name="org.eclipse.core.resources.IResource" />
         </enablement>
         <description>
            %DecoratorStandard.description
         </description>
      </decorator>
   </extension>
<!-- *************** Enable AutoStartup Option ***** -->
   <extension
         point="org.eclipse.ui.startup">
   </extension>
<!-- *************** Repository Provider **************** -->
   <extension
         point="org.eclipse.team.core.repository">
      <repository
            typeClass="com.rational.clearcase.team.core.clearcase.CCRepositoryProviderType"
            canImportId="com.ibm.rational.clearcase.ide.CMRepositoryProvider"
            class="com.rational.clearcase.team.core.clearcase.CCRepositoryProvider"
            id="com.rational.clearcase.ccprovider_nature">
      </repository>
   </extension>
   <extension
            point="com.ibm.rational.clearcase.ccimport.ccImportProvider">
   		<importProvider 
   			class="com.rational.clearcase.team.core.clearcase.ImportProvider">
   		</importProvider>
   </extension> 

   <extension
         point="org.eclipse.ui.popupMenus">
<!-- ************** Menu *************** -->
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IResource"
            id="com.rational.clearcase.IProjectContributions">
         <filter
               name="projectPersistentProperty"
               value="org.eclipse.team.core.repository=com.rational.clearcase.ccprovider_nature">
         </filter>
         <action
               label="%IDS_HISTORY_MNU"
               icon="icons/etool16/history.gif"
               class="com.rational.resourcemanagement.cmui.ClearCaseActionDelegate"
               tooltip="%IDS_HISTORY_BTN"
               menubarPath="team.main/group1"
               enablesFor="1000"
               id="com.rational.clearcase.HistoryCommand">
         </action>
         <action
               label="%IDS_VERSIONTREE_MNU"
               icon="icons/etool16/cc_versiontree.gif"
               class="com.rational.resourcemanagement.cmui.ClearCaseActionDelegate"
               tooltip="%IDS_VERSIONTREE_BTN"
               menubarPath="team.main/group1"
               enablesFor="1000"
               id="com.rational.clearcase.VersionTree">
         </action>
         <action
               label="%IDS_PROPERTIES_MNU"
               icon="icons/etool16/properties.gif"
               class="com.rational.resourcemanagement.cmui.ClearCaseActionDelegate"
               tooltip="%IDS_PROPERTIES_BTN"
               menubarPath="team.main/group1"
               enablesFor="1000"
               id="com.rational.clearcase.PropertiesCommand">
         </action>
         <action
               label="%IDS_DIFF_MNU"
               icon="icons/etool16/diff.gif"
               class="com.rational.resourcemanagement.cmui.ClearCaseActionDelegate"
               tooltip="%IDS_DIFF_BTN"
               menubarPath="team.main/group1"
               enablesFor="1000"
               id="com.rational.clearcase.DiffCommand">
         </action>
         <action
               label="%IDS_UNDO_HIJACK_MNU"
               icon="icons/etool16/undo_hijack.gif"
               class="com.rational.resourcemanagement.cmui.ClearCaseActionDelegate"
               tooltip="%IDS_UNDO_HIJACK_BTN"
               menubarPath="team.main/group1"
               enablesFor="1000"
               id="com.rational.clearcase.UndoHijackCommand">
         </action>
         <action
               label="%IDS_HIJACK_MNU"
               icon="icons/etool16/hijack.gif"
               class="com.rational.resourcemanagement.cmui.HijackActionDelegate"
               tooltip="%IDS_HIJACK_BTN"
               menubarPath="team.main/group1"
               enablesFor="+"
               id="com.rational.clearcase.HijackActionDelegate">
         </action>
         <action
               label="%IDS_REFRESHSTATUS_MNU"
               icon="icons/etool16/refresh.gif"
               class="com.rational.resourcemanagement.cmui.ClearCaseActionDelegate"
               tooltip="%IDS_REFRESHSTATUS_BTN"
               menubarPath="team.main/group1"
               enablesFor="1000"
               id="com.rational.clearcase.RefreshCommand">
         </action>
         <action
               label="%IDS_GET_MNU"
               icon="icons/etool16/get.gif"
               class="com.rational.resourcemanagement.cmui.ClearCaseActionDelegate"
               tooltip="%IDS_GET_BTN"
               menubarPath="team.main/group1"
               enablesFor="1000"
               id="com.rational.clearcase.GetCommand">
         </action>
         <action
               label="%IDS_UNDOCHECKOUT_MNU"
               icon="icons/etool16/undocheckout.gif"
               class="com.rational.resourcemanagement.cmui.ClearCaseActionDelegate"
               tooltip="%IDS_UNDOCHECKOUT_BTN"
               menubarPath="team.main/group1"
               enablesFor="1000"
               id="com.rational.clearcase.UndoCheckoutCommand">
         </action>
         <action
               label="%IDS_CHECKIN_MNU"
               icon="icons/etool16/checkin.gif"
               class="com.rational.resourcemanagement.cmui.ClearCaseActionDelegate"
               tooltip="%IDS_CHECKIN_BTN"
               menubarPath="team.main/group1"
               enablesFor="1000"
               id="com.rational.clearcase.CheckinCommand">
         </action>
         <action
               label="%IDS_CHECKOUT_MNU"
               icon="icons/etool16/checkout.gif"
               class="com.rational.resourcemanagement.cmui.ClearCaseActionDelegate"
               tooltip="%IDS_CHECKOUT_BTN"
               menubarPath="team.main/group1"
               enablesFor="1000"
               id="com.rational.clearcase.CheckoutCommand">
         </action>
         <action
               label="%IDS_ADD_TO_SRC_MNU"
               icon="icons/etool16/add.gif"
               class="com.rational.resourcemanagement.cmui.ClearCaseActionDelegate"
               tooltip="%IDS_ADD_TO_SRC_BTN"
               menubarPath="team.main/group1"
               enablesFor="1000"
               overrideActionId="compareWithPatch"
               id="com.rational.clearcase.AddCommand">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="ClearCase"
            visible="false"
            id="com.rational.clearcase.ActionSet">
         <menu
               label="%IDS_CLEARCASE_MNU"
               path="additions"
               id="com.rational.clearcase.Menu">
            <separator
                  name="CCMenu1">
            </separator>
         </menu>
         <action
               label="%IDS_HELP_MNU"
               icon="icons/etool16/cc_help.gif"
               disabledIcon="icons/dtool16/cc_help.gif"
               class="com.rational.resourcemanagement.cmui.ClearCaseActionDelegate"
               tooltip="%IDS_HELP_BTN"
               menubarPath="com.rational.clearcase.Menu/CCMenu1"
               toolbarPath="CCToolbar1"
               id="com.rational.clearcase.HelpCommand">
         </action>
         <action
               label="%IDS_UNMOUNTVOB_MNU"
               icon="icons/etool16/cc_mountvob.gif"
               disabledIcon="icons/dtool16/cc_mountvob.gif"
               class="com.rational.resourcemanagement.cmui.ClearCaseActionDelegate"
               tooltip="%IDS_UNMOUNTVOB_BTN"
               menubarPath="com.rational.clearcase.Menu/CCMenu1"
               enablesFor="1000"
               id="com.rational.clearcase.UnmountVob">
         </action>
         <action
               label="%IDS_MOUNTVOB_MNU"
               icon="icons/etool16/cc_unmountvob.gif"
               disabledIcon="icons/dtool16/cc_unmountvob.gif"
               class="com.rational.resourcemanagement.cmui.ClearCaseActionDelegate"
               tooltip="%IDS_MOUNTVOB_BTN"
               menubarPath="com.rational.clearcase.Menu/CCMenu1"
               enablesFor="1000"
               id="com.rational.clearcase.MountVob">
         </action>
         <action
               label="%IDS_STOPVIEW_MNU"
               icon="icons/etool16/cc_stopview.gif"
               disabledIcon="icons/dtool16/cc_stopview.gif"
               class="com.rational.resourcemanagement.cmui.ClearCaseActionDelegate"
               tooltip="%IDS_STOPVIEW_BTN"
               menubarPath="com.rational.clearcase.Menu/CCMenu1"
               enablesFor="1000"
               id="com.rational.clearcase.StopView">
         </action>
         <action
               label="%IDS_STARTVIEW_MNU"
               icon="icons/etool16/cc_startview.gif"
               disabledIcon="icons/dtool16/cc_startview.gif"
               class="com.rational.resourcemanagement.cmui.ClearCaseActionDelegate"
               tooltip="%IDS_STARTVIEW_BTN"
               menubarPath="com.rational.clearcase.Menu/CCMenu1"
               enablesFor="1000"
               id="com.rational.clearcase.StartView">
         </action>
         <action
               label="%IDS_EDITVIEWPROPS_MNU"
               icon="icons/etool16/cc_editviewprops.gif"
               disabledIcon="icons/dtool16/cc_editviewprops.gif"
               class="com.rational.resourcemanagement.cmui.ClearCaseActionDelegate"
               tooltip="%IDS_EDITVIEWPROPS_BTN"
               menubarPath="com.rational.clearcase.Menu/CCMenu1"
               enablesFor="1000"
               id="com.rational.clearcase.EditViewProperties">
         </action>
         <action
               label="%IDS_JOINPROJ_MNU"
               icon="icons/etool16/cc_joinproj.gif"
               disabledIcon="icons/dtool16/cc_joinproj.gif"
               class="com.rational.resourcemanagement.cmui.ClearCaseActionDelegate"
               tooltip="%IDS_JOINPROJ_BTN"
               menubarPath="com.rational.clearcase.Menu/CCMenu1"
               enablesFor="1000"
               id="com.rational.clearcase.JoinProj">
         </action>
         <action
               label="%IDS_CREATEVIEW_MNU"
               icon="icons/etool16/cc_createview.gif"
               disabledIcon="icons/dtool16/cc_createview.gif"
               class="com.rational.resourcemanagement.cmui.ClearCaseActionDelegate"
               tooltip="%IDS_CREATEVIEW_BTN"
               menubarPath="com.rational.clearcase.Menu/CCMenu1"
               enablesFor="1000"
               id="com.rational.clearcase.CreateView">
         </action>
         <action
               label="%IDS_MERGEMGR_MNU"
               icon="icons/etool16/cc_mergemgr.gif"
               disabledIcon="icons/dtool16/cc_mergemgr.gif"
               class="com.rational.resourcemanagement.cmui.ClearCaseActionDelegate"
               tooltip="%IDS_MERGEMGR_BTN"
               menubarPath="com.rational.clearcase.Menu/CCMenu1"
               enablesFor="1000"
               id="com.rational.clearcase.MergeMgr">
         </action>
         <action
               label="%IDS_SCAN_MNU"
               icon="icons/etool16/scan.gif"
               disabledIcon="icons/dtool16/scan.gif"
               class="com.rational.resourcemanagement.cmui.ClearCaseActionDelegate"
               tooltip="%IDS_SCAN_BTN"
               menubarPath="com.rational.clearcase.Menu/CCMenu1"
               enablesFor="1000"
               id="com.rational.clearcase.ScanCommand">
         </action>
         <action
               label="%IDS_FINDCO_MNU"
               icon="icons/etool16/cc_findcheckouts.gif"
               disabledIcon="icons/dtool16/cc_findcheckouts.gif"
               class="com.rational.resourcemanagement.cmui.ClearCaseActionDelegate"
               tooltip="%IDS_FINDCO_BTN"
               menubarPath="com.rational.clearcase.Menu/CCMenu1"
               enablesFor="1000"
               id="com.rational.clearcase.FindCheckOuts">
         </action>
         <action
               label="%IDS_RUNTOOL_MNU"
               icon="icons/etool16/runtool.gif"
               disabledIcon="icons/dtool16/runtool.gif"
               class="com.rational.resourcemanagement.cmui.ClearCaseActionDelegate"
               tooltip="%IDS_RUNTOOL_BTN"
               menubarPath="com.rational.clearcase.Menu/CCMenu1"
               toolbarPath="CCToolbar1"
               id="com.rational.clearcase.RunToolCommand">
         </action>
         <action
               label="%IDS_BUILD_MNU"
               icon="icons/etool16/cc_build.gif"
               disabledIcon="icons/dtool16/cc_build.gif"
               class="com.rational.resourcemanagement.cmui.ClearCaseActionDelegate"
               tooltip="%IDS_BUILD_BTN"
               menubarPath="com.rational.clearcase.Menu/CCMenu1"
               toolbarPath="CCToolbar1"
               enablesFor="1000"
               id="com.rational.clearcase.BuildCommand">
         </action>
         <action
               label="%IDS_UPDATEVIEW_MNU"
               icon="icons/etool16/cc_updateview.gif"
               disabledIcon="icons/dtool16/cc_updateview.gif"
               class="com.rational.resourcemanagement.cmui.ClearCaseActionDelegate"
               tooltip="%IDS_UPDATEVIEW_BTN"
               menubarPath="com.rational.clearcase.Menu/CCMenu1"
               toolbarPath="CCToolbar1"
               id="com.rational.clearcase.UpdateView">
         </action>
         <action
               label="%IDS_PROPERTIES_MNU"
               icon="icons/etool16/properties.gif"
               disabledIcon="icons/dtool16/properties.gif"
               class="com.rational.resourcemanagement.cmui.ClearCaseActionDelegate"
               tooltip="%IDS_PROPERTIES_BTN"
               toolbarPath="CCToolbar1"
               id="com.rational.clearcase.PropertiesCommand">
         </action>
         <action
               label="%IDS_VERSIONTREE_MNU"
               icon="icons/etool16/cc_versiontree.gif"
               disabledIcon="icons/dtool16/cc_versiontree.gif"
               class="com.rational.resourcemanagement.cmui.ClearCaseActionDelegate"
               tooltip="%IDS_VERSIONTREE_BTN"
               toolbarPath="CCToolbar1"
               id="com.rational.clearcase.VersionTree">
         </action>
         <action
               label="%IDS_DIFF_MNU"
               icon="icons/etool16/diff.gif"
               disabledIcon="icons/dtool16/diff.gif"
               class="com.rational.resourcemanagement.cmui.ClearCaseActionDelegate"
               tooltip="%IDS_DIFF_BTN"
               toolbarPath="CCToolbar1"
               id="com.rational.clearcase.DiffCommand">
         </action>
         <action
               label="%IDS_GET_MNU"
               icon="icons/etool16/get.gif"
               disabledIcon="icons/dtool16/get.gif"
               class="com.rational.resourcemanagement.cmui.ClearCaseActionDelegate"
               tooltip="%IDS_GET_BTN"
               toolbarPath="CCToolbar1"
               id="com.rational.clearcase.GetCommand">
         </action>
         <action
               label="%IDS_REFRESHSTATUS_MNU"
               icon="icons/etool16/refresh.gif"
               disabledIcon="icons/dtool16/refresh.gif"
               class="com.rational.resourcemanagement.cmui.ClearCaseActionDelegate"
               tooltip="%IDS_REFRESHSTATUS_BTN"
               toolbarPath="CCToolbar1"
               id="com.rational.clearcase.RefreshCommand">
         </action>
         <action
               label="%IDS_REBASE_MNU"
               icon="icons/etool16/cc_rebase.gif"
               disabledIcon="icons/dtool16/cc_rebase.gif"
               class="com.rational.resourcemanagement.cmui.ClearCaseActionDelegate"
               tooltip="%IDS_REBASE_BTN"
               menubarPath="com.rational.clearcase.Menu/CCMenu1"
               toolbarPath="CCToolbar1"
               id="com.rational.clearcase.Rebase">
         </action>
         <action
               label="%IDS_DELIVER_MNU"
               icon="icons/etool16/cc_deliver.gif"
               disabledIcon="icons/dtool16/cc_deliver.gif"
               class="com.rational.resourcemanagement.cmui.ClearCaseActionDelegate"
               tooltip="%IDS_DELIVER_BTN"
               menubarPath="com.rational.clearcase.Menu/CCMenu1"
               toolbarPath="CCToolbar1"
               id="com.rational.clearcase.Deliver">
         </action>
         <action
               label="%IDS_SET_ACTIVITY_MNU"
               icon="icons/etool16/submit.gif"
               disabledIcon="icons/dtool16/submit.gif"
               class="com.rational.resourcemanagement.cmui.ClearCaseActionDelegate"
               tooltip="%IDS_SET_ACTIVITY_BTN"
               menubarPath="com.rational.clearcase.Menu/CCMenu1"
               toolbarPath="CCToolbar1"
               id="com.rational.clearcase.SetActivityId">
         </action>
         <action
               label="%IDS_UNDOCHECKOUT_MNU"
               icon="icons/etool16/undocheckout.gif"
               disabledIcon="icons/dtool16/undocheckout.gif"
               class="com.rational.resourcemanagement.cmui.ClearCaseActionDelegate"
               tooltip="%IDS_UNDOCHECKOUT_BTN"
               toolbarPath="CCToolbar1"
               id="com.rational.clearcase.UndoCheckoutCommand">
         </action>
         <action
               label="%IDS_CHECKIN_MNU"
               icon="icons/etool16/checkin.gif"
               disabledIcon="icons/dtool16/checkin.gif"
               class="com.rational.resourcemanagement.cmui.ClearCaseActionDelegate"
               tooltip="%IDS_CHECKIN_BTN"
               toolbarPath="CCToolbar1"
               id="com.rational.clearcase.CheckinCommand">
         </action>
         <action
               label="%IDS_CHECKOUT_MNU"
               icon="icons/etool16/checkout.gif"
               disabledIcon="icons/dtool16/checkout.gif"
               class="com.rational.resourcemanagement.cmui.ClearCaseActionDelegate"
               tooltip="%IDS_CHECKOUT_BTN"
               toolbarPath="CCToolbar1"
               id="com.rational.clearcase.CheckoutCommand">
         </action>
         <action
               label="%IDS_ADD_TO_SRC_MNU"
               icon="icons/etool16/add.gif"
               disabledIcon="icons/dtool16/add.gif"
               class="com.rational.resourcemanagement.cmui.ClearCaseActionDelegate"
               tooltip="%IDS_ADD_TO_SRC_BTN"
               toolbarPath="CCToolbar1"
               id="com.rational.clearcase.AddCommand">
         </action>
         <action
               label="%IDS_CONNECT_TO_SRC_MNU"
               style="toggle"
               icon="icons/etool16/modelconnect.gif"
               disabledIcon="icons/dtool16/modelconnect.gif"
               class="com.rational.resourcemanagement.cmui.StartCommandDelegate"
               tooltip="%IDS_CONNECT_TO_SRC_BTN"
               menubarPath="com.rational.clearcase.Menu/CCMenu1"
               toolbarPath="CCToolbar1"
               id="com.rational.clearcase.StartClearCase">
         </action>
      </actionSet>
   </extension>
<!-- ====================================================================== -->
<!-- *************** Resource patterns to ignored **************** -->
<!-- ====================================================================== -->
   <extension
         point="org.eclipse.team.core.ignore">
      <ignore
            enabled="true"
            pattern="*.contrib*">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.keep*">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.class">
      </ignore>
      <ignore
            enabled="true"
            pattern=".cmake.state">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.mkelem*">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.merge*">
      </ignore>
      <ignore
      		enabled="true"
      		pattern="temp.folder">
      </ignore>
      <ignore
      		enabled="true"
      		pattern="*.jar.args">
      </ignore>
   </extension>
<!-- ====================================================================== -->
<!-- Define perspective extension                                           -->
<!--- the ClearCase actionset should be added to certain WSAD perspectives  -->
<!-- ====================================================================== -->
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.ibm.etools.webtools.webperspective.WebToolsPerspective">
         <actionSet
               id="com.rational.clearcase.ActionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.ibm.etools.comptest.preference.PerspectiveFactory">
         <actionSet
               id="com.rational.clearcase.ActionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.ibm.etools.rsc.ui.view.DBAPerspective">
         <actionSet
               id="com.rational.clearcase.ActionSet">
         </actionSet>
      </perspectiveExtension>
      <!-- this is now the designation to the data perspective.... jeeze -->
      <perspectiveExtension
            targetID="com.ibm.datatools.core.internal.ui.perspective">
         <actionSet
               id="com.rational.clearcase.ActionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.ibm.etools.xml.tools.XMLPerspective">
         <actionSet
               id="com.rational.clearcase.ActionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <actionSet
               id="com.rational.clearcase.ActionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jst.j2ee.J2EEPerspective">
         <actionSet
               id="com.rational.clearcase.ActionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.ibm.etools.j2ee.J2EEPerspective">
         <actionSet
               id="com.rational.clearcase.ActionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <actionSet
               id="com.rational.clearcase.ActionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaHierarchyPerspective">
         <actionSet
               id="com.rational.clearcase.ActionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.pde.ui.PDEPerspective">
         <actionSet
               id="com.rational.clearcase.ActionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.rational.hshell.ratltool.ratlLayout">
         <actionSet
               id="com.rational.clearcase.ActionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.cdt.ui.CPerspective">
         <actionSet
               id="com.rational.clearcase.ActionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.ibm.rational.dct.ui.ProblemsPerspective">
         <actionSet
               id="com.rational.clearcase.ActionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.ibm.xtools.modeler.internal.ui.perspectives.ModelingPerspective">
         <actionSet
               id="com.rational.clearcase.ActionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.ibm.wtp.server.ui.perspective">
         <actionSet
               id="com.rational.clearcase.ActionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.hyades.ui.perspective.TestPerspective">
         <actionSet
               id="com.rational.clearcase.ActionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.ibm.xtools.ras.perspective">
         <actionSet
               id="com.rational.clearcase.ActionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.ibm.etools.egl.EGLPerspective">
         <actionSet
               id="com.rational.clearcase.ActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="com.rational.clearcase.editorFeatures">
      <attribute
            enableEditorFeatures="yes">
      </attribute>
   </extension>
   <extension
         point="com.rational.clearcase.featureStatus">
      <attribute
            is_gui_enabled="yes">
      </attribute>
   </extension>
<!-- ************** Project Sets **************** -->
<!-- ****************** Import Wizards ********************* -->
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            name="%Import4xWizardMainPage.name"
            icon="icons/etool16/addtoworkspace.gif"
            class="com.rational.clearcase.team.ui.clearcase.Import4x"
            id="com.rational.clearcase.Import4x">
         <description>
            %Import4xWizardMainPage.description
         </description>
         <selection
               class="org.eclipse.core.resources.IProject">
         </selection>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.ide.resourceFilters">
      <filter
            pattern="*.mkelem*"
            selected="false"/>
      <filter
            pattern="*.keep*"
            selected="false"/>
      <filter
            pattern="*.contrib*"
            selected="false"/>
      <filter
            pattern="*.merge*"
            selected="false"/>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.javaElementFilters">
      <filter
            enabled="false"
            pattern="*.mkelem*"/>
      <filter
            enabled="false"
            pattern="*.keep*"/>
      <filter
            enabled="false"
            pattern="*.contrib*"/>
      <filter
            enabled="false"
            pattern="*.merge*"/>
   </extension>
</plugin>
